aside.gdbar {
    width: 265px !important;
    height: 83px !important;
    background: #797979 !important;
}

aside.gdbar img {
    width: auto !important;
    height: auto !important;
    margin: 15px 20px !important;
}

slides > slide:not(.nobackground):before {
    background: none;
}

.outlineHighlight {
    font-weight: bold;
    font-size: 120%;
}

slides slide.thank-you-slide {
    background: #343434 !important;
}

slides code {
    color: #797979;
}

table td.greenhighlight {
    color: #ffffff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #008c10), color-stop(80%, #008c10)) no-repeat;
    background: -webkit-linear-gradient(top, #008c10 40%, #008c10 80%) no-repeat;
    background: -moz-linear-gradient(top, #008c10 40%, #008c10 80%) no-repeat;
    background: -o-linear-gradient(top, #008c10 40%, #008c10 80%) no-repeat;
    background: linear-gradient(top, #008c10 40%, #008c10 80%) no-repeat;
}

table td.redhighlight {
    color: #ffffff;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #d50c00), color-stop(80%, #d50c00)) no-repeat;
    background: -webkit-linear-gradient(top, #d50c00 40%, #d50c00 80%) no-repeat;
    background: -moz-linear-gradient(top, #d50c00 40%, #d50c00 80%) no-repeat;
    background: -o-linear-gradient(top, #d50c00 40%, #d50c00 80%) no-repeat;
    background: linear-gradient(top, #d50c00 40%, #d50c00 80%) no-repeat;
}

table th.grayhighlight {
    color: white;
    font-size: 18px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #424242), color-stop(80%, #424242)) no-repeat;
    background: -webkit-linear-gradient(top, #424242 40%, #424242 80%) no-repeat;
    background: -moz-linear-gradient(top, #424242 40%, #424242 80%) no-repeat;
    background: -o-linear-gradient(top, #424242 40%, #424242 80%) no-repeat;
    background: linear-gradient(top, #424242 40%, #424242 80%) no-repeat;
}